# Ignore environment loader script
env-loader.js

# Ignore flexpolyline library files in JS folder
js/flexpolyline*.js

# Environment variables (keep this secret!)
.env

# VS Code settings
.vscode/

# Netlify build folder
.netlify/

# Node modules
node_modules/

# Netlify config
netlify.toml


# Node modules
node_modules/

# Netlify
.netlify/